.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

.justify-content{
    display: flex;
    flex-wrap: wrap;
}

.pics {
    margin-left: 5px;
    margin-right: 5px;
}

@media (min-width: 438px) {
    .col-md-1 {
        box-sizing: border-box;
        flex-basis: 50%;
    }
}

@media (min-width: 756px) {
    .col-lg-1 {
        box-sizing: border-box;
        flex-basis: 33.333333%;
    }
}

@media (min-width: 940px) {
    .col-xl-1 {
        box-sizing: border-box;
        flex-basis: 25%;
    }
}
